* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
main {
   width: 1100px;
  margin: 0 auto;
  /* background-color: lightgray; */
}
.NAVIGATION {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto;
}
.logo{
    margin: 10px;

}
.links a {
  margin: 5px;
  text-decoration: none;
  color: gray;
}
.login{
    background-color: #21517D;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 12px 5px 12px;
}
.frame1{
    display: flex;
    justify-content: space-between;
    margin: 40px;

}
.text{
    /* width: 500px; */
    text-align: start;
    padding: 80px 0px 0px 0px;
}
.welcome{
    font-size:35px;
    font-weight: 700;
    line-height: 52px;
    color:  #0085FF;
    
}
.imotamc{
    font-size:50px ;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 10px;
}
.message{
    width:456px;
    font-size: 21px;
    font-weight: 100;
    line-height: 30px;
    padding-bottom: 20px;
}
.appointment{
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;

}
.frame1-img{
    width: 43%;
}
.Frame2{
    background-color: #F5F5F5;
    padding: 50px 30px 60px 30px;
    
}
.for-you{
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 10px;
    color: darkgray;
}
.Frame2 p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 50px;
    color: darkgray;
}
.boxes{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    font-size:21px;
    color: #808080;
}
.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.box1,.box3, .box5{
    width: 180px;
    background-color: white;
}
.box2, .box4, .box6{
    width: 180px;
    background-color: #21517D;
    color: #F5F5F5;
}
.box img{
    align-self: center;
    width: 80px;
    padding-bottom: 10px;
}
.frame3{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px 10px 0px;
    color: #808080;
}
strong{
    color: #21517D;
}
.frame3 p{
    width:650px ;
    text-align: center;
}